<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-card>
        <span class="ten">Dan</span>
        <span class="lop">FE37</span>
        <span class="namsinh">2000</span>
      </app-card>
    </div>
    <div class="col-md-4">
      <app-card>
        <span class="ten">Teo</span>
        <span class="lop">FE37</span>
        <span class="namsinh">2000</span>
      </app-card>
    </div>
    <div class="col-md-4">
      <app-card>
        <span class="ten">Ti</span>
        <span class="lop">FE37</span>
        <span class="namsinh">2000</span>
      </app-card>
    </div>
  </div>
</div>

<!-- AppCard -->
<!-- <div>
  <div>
    <span class="ten">Dan</span>
  </div>
  <div>
    <span class="lop">FE37</span>
  </div>
  <div>
    <span class="namsinh">2000</span>
  </div>
</div> -->
